<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laurencedawson.native_example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:hasCode="false"
        android:label="NativeExample"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="NativeExample" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
